@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif, Helvetica, sans-serif;
    background-image: url(imagem/img-33.jpg);
    background-position: 100% 100%;
    background-repeat: repeat;
    padding: 0px;
    font-size: 1.2em;
    text-align: center;
}

img {
    width: 93%;
    padding: 5px;
}

ul {
    columns: 3;
}

h1 {
    background-color: black;
    color: white;
    padding: 40px;
}

footer {
    background-color: green;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: brown;
}
