@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 1200px;
    padding-top: 150px;
   
 
    background: blue url('imagem/fundo.webp') center no-repeat fixed;
    position: relative;
}

header {
    font-size: 24px;
    position: fixed;
    background-color: blue;
    width: 100%;
    padding: 8px;
    top: 0;
}

h1, h2 {
    text-align: center;
    color: white;
    padding: 10px;
}

img {
    width: 95%;
    border-radius: 50%;
    padding: 5px;
}

ul {
    columns: 3;
    list-style: none;
}

footer {
    background-color: green;
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: brown;
}
